 # Topic for Discussion

#Practice ,Practice,Practice....

In [ ]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [ ]:
c=add(4,5)
d=multiply(3,4)
r=subtract(9,7)
print(c)
print(d)
print(r)
f=divide(6,2)
print (f)

9
12
2
3.0

In [ ]:
import module as m

In [ ]:
m.add(5,6)

11

In [ ]:
 from module import add as a

In [ ]:
from module import substract as b

In [ ]:
def Greater(a,b):
  if(a>b):
    print('first number is greater')
  elif(b>a):
    print('Second Numberis greator')
  else:
    print('Both numbers are equal')

In [ ]:
a=int(input('Enter the first number'))
b=int(input('Enter the second number'))
Greater(a,b)

Enter the first number7
Enter the second number7
Both numbers are equal

In [ ]:
#for armstrong take one number as input
#prime please take one number as input

In [ ]:
# check whether the given number is prime or not

In [ ]:
def isprime(a):
  c=0
  if(a==1):
    print("it is neither prime nor composite")
  for i in range(1,a+1):
    if(a%i==0):
      c=c+1

  if c==2:
    print("the number is prime")
  else:
    print("the number is not prime")

In [ ]:
isprime(4)

the number is not prime

In [ ]:
isprime(3)

the number is prime

In [ ]:
m=int(input('Enter a number'))
isprime(m)

Enter a number5
the number is prime

In [ ]:
isprime(m)

the number is prime

# Armstrong Number

In [ ]:
def armstrong(num) :
  y=num
  v=num
  sum=0
  cnt=0
  while(num>0):
    num=num//10
    cnt=cnt+1
  print(cnt)
  while(y>0):
      a=y%10
      sum=sum + pow(a,cnt)
      y=y//10
  print(sum)
  print(v)
  if(v==sum):
    print("the number is a armstrong number")
  else:
    print("the number is not a armstrong number")

In [ ]:
num=int(input("enter the number"))
armstrong(num)

enter the number153
3
153
153
the number is a armstrong number

In [ ]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def floor_divide(a,b):
  return a//b

In [ ]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
f=input("choose the operation +,-,*,/")

if(f=='+'):
  print("the result is:", add(a,b))
elif(f=='-'):
  print("the result is:", subtract(a,b))
if(f=='*'):
  print("the result is:", multiply(a,b))
if(f=='/'):
  print("the result is:", floor_divide(a,b))

Enter the first number2
Enter the second number4
choose the operation +,-,*,/+
the result is: 6

# Fibonacci sequence

In [ ]:
def fibonacii(n):
  a=0
  b=1
  print(a)
  print(b)

  for i in range(0,n):
    c=a+b
    print(c)
    a=b
    b=c

In [ ]:
 n=int(input('Enter the length of fibonacci sequence'))
 fibonaci
 i(n)

Enter the length of fibonacci sequence6
0
1
1
2
3
5
8
13

In [ ]:
a=[]
for i in range(0,40):
  if(i%2==0):
    a.append(i)


print(a)
print(len(a))
b=a[: : -1]
print(b)
print(a.index(34))
a[17]=100
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
20
[38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
17
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 100, 36, 38]