TOPIC FOR TODAY

*   DICTIONARY
ADDING
ACCESSING
DELETION
*   SETS

*   CONDITIONAL STATEMENTS
*   LOOPS

*   FUNCTIONS


*   LAMDA FUNCTIONS



**1.   Sets**
*italicized text*

Sets Def: It is the data type that is used for removing the duplicacy and containing the unique elements.In this data type we don't have the changebiluty criteria nor the concept of indexing and positioning.
create={}

In [ ]:
set1={1,1,2,3,4,5,5,6,7,8,9,9,10}
#as per our conclusion,there are 13 elements

In [ ]:
len(set1)

10

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
textset={'Dev','Dev','Varchasava','Manoj','Manoj','Sachin','Jaymin','Aishwariya','Aishwariya'}

In [ ]:
textset,len(textset)

({'Aishwariya', 'Dev', 'Jaymin', 'Manoj', 'Sachin', 'Varchasava'}, 6)

In [ ]:
textList=['Dev','Dev','Varchasava','Manoj','Manoj','Sachin','Jaymin','Aishwariya','Aishwariya']

tetset2=set(textList)  # concept of typecasting

In [ ]:
tetset2

{'Aishwariya', 'Dev', 'Jaymin', 'Manoj', 'Sachin', 'Varchasava'}

In [ ]:
#we can't change elements in sets , we can only remove elements or add elemets

In [ ]:
#syntax setname.add('element to be added)
tetset2.add('Mary')

In [ ]:
tetset2

{'Aishwariya', 'Dev', 'Jaymin', 'Manoj', 'Mary', 'Sachin', 'Varchasava'}

Only one method for adding the elements

In [ ]:
#deletion-->pop,discard,delete

In [ ]:
tetset2.pop()  #pop function deletes and returns a value that has been deleted

'Aishwariya'

In [ ]:
tetset2.discard('Sachin')

In [ ]:
tetset2

{'Dev', 'Jaymin', 'Manoj', 'Mary', 'Varchasava'}

In [ ]:
#error handling is poor in discard while it is good in remove

In [ ]:
tetset2.discard('Kushagra')  #kushagra  is already not present in the list

In [ ]:
tetset2.remove('Kushagra')  #kushagra is already not present

KeyError: 'Kushagra'

In [ ]:
settext={'Dev','Jaymin'}

In [ ]:
settext.issubset(tetset2)

True

In [ ]:
#Topic--2 Dictionary

In [ ]:
# it is a datatype that is based on key value pairs and instead of indexing we use the concept of keys for acceing elements or for posisitoning

In [ ]:
ContactDetails={
    'Name':'Kushagra Srivastava',
    'email':'Kushagra@gmail.com',
    'PhoneNo.':'7890422331',
    'address':'Allahabad',
    'comments':'python/datascience'

}

In [ ]:
type(ContactDetails)

dict

In [ ]:
ContactDetails                # example: google forms

{'Name': 'Kushagra Srivastava',
 'email': 'Kushagra@gmail.com',
 'contact_Details': '7890422331',
 'address': 'Allahabad',
 'comments': 'python/datascience'}

In [ ]:
dict1={
    'Name':{'User1':'kushagra','User2':'Sonam','User3':'Lokesh'},
    'CourseName':'DS/AI'
}

In [ ]:
dict1                       #nested dictionary (dict under dict)

{'Name': {'User1': 'kushagra', 'User2': 'Sonam', 'User3': 'Lokesh'},
 'CourseName': 'DS/AI'}

In [ ]:
ContactDetails['Name']

'Kushagra Srivastava'

In [ ]:
#syn dict[name]=new values
ContactDetails['Address']='DELHI,INDIA'
ContactDetails

{'Name': 'Kushagra Srivastava',
 'email': 'Kushagra@gmail.com',
 'contact_Details': '7890422331',
 'address': 'Allahabad',
 'comments': 'python/datascience',
 'Address': 'DELHI,INDIA'}

In [ ]:
#DUPLICACY CAN BE THERE WITH THEVALUES BUT NOT WITH THE KEYS

In [ ]:
car_Details={
    "brand":'FORD',
    'MODEL':'MUSTANG',
    'YEAR':'2017',
    'KMS DRIVEN':'20000',
    'COLOR':'RED',
    'COLOR':'BLACK'

}

#Add something to dictionary

In [ ]:
#dictname[newkey]=[new value]

In [ ]:
car_Details['Price']='$123,$132'

In [ ]:
car_Details

{'brand': 'FORD',
 'MODEL': 'MUSTANG',
 'YEAR': '2017',
 'KMS DRIVEN': '20000',
 'COLOR': 'BLACK',
 'Price': '$123,$132'}

# Delete something to dictionary

#syn dictname.pop(key)

In [ ]:
car_Details.pop('COLOR')

'BLACK'

In [ ]:
car_Details

{'brand': 'FORD',
 'MODEL': 'MUSTANG',
 'YEAR': '2017',
 'KMS DRIVEN': '20000',
 'Price': '$123,$132'}

In [ ]:
car_Details.keys()

dict_keys(['brand', 'MODEL', 'YEAR', 'KMS DRIVEN', 'Price'])

In [ ]:
car_Details.values()

dict_values(['FORD', 'MUSTANG', '2017', '20000', '$123,$132'])

In [ ]:
car_Details.items()

dict_items([('brand', 'FORD'), ('MODEL', 'MUSTANG'), ('YEAR', '2017'), ('KMS DRIVEN', '20000'), ('Price', '$123,$132')])

In [ ]:
multival_Dict={

    'name':{'1':'Kushagra','2':'Swati','3':'lokesh'}



}

In [ ]:
multival_Dict

{'name': {'1': 'Kushagra', '2': 'Swati', '3': 'lokesh'}}

#Conditional Statements

In [ ]:
biscuit=input('Enter the name')
cake=input("Enter cake name")
if biscuit=='Orange Biscuit':
  print('Buy')
elif cake=='Chocolate':
  print('Buy cake')
else:
  print('Give it a drive')

In [ ]:
Status=input("Enter the status")

if Status=='Recieved':
  print('Working on it')
                                  #using elif used for analysing more than two codition
elif Status=="in transit":
  print(',Waiting for the file')
elif Status=='Error Occurred':
  print('Error happened!Try to resolve')

else:
  print('Not Recieved')

Enter the statusin transit
in transit!,Waiting for the file

# Topic 4: LOOPS

In [ ]:
#while loop

In [ ]:
#for loop
#syn for i in range(start rane,end range+1)
for i in range(1,21):
  print(f'the number is {i}')

the number is 1
the number is 2
the number is 3
the number is 4
the number is 5
the number is 6
the number is 7
the number is 8
the number is 9
the number is 10
the number is 11
the number is 12
the number is 13
the number is 14
the number is 15
the number is 16
the number is 17
the number is 18
the number is 19
the number is 20

In [ ]:
list1=['1','2','3','4','5','6','kushagra','Swati']
for x in list1:
  print(f"the element is {x}")

the element is 1
the element is 2
the element is 3
the element is 4
the element is 5
the element is 6
the element is kushagra
the element is Swati

In [ ]:
#syn #range(startpos,endpos+1,step)

In [ ]:
#whileloop
dist_distance=0
while dist_distance<=5:
  print("Running!!")
  print(f"Distance covered in this round: {dist_distance}")
  dist_distance=dist_distance+1

Running!!
Distance covered in this round: 0
Running!!
Distance covered in this round: 1
Running!!
Distance covered in this round: 2
Running!!
Distance covered in this round: 3
Running!!
Distance covered in this round: 4
Running!!
Distance covered in this round: 5

# Topic 5 Function

In [ ]:
friendlist=["Kushagra","Swati","Ayush","Ramesh","Swapnil"]

In [ ]:
def invitefunc(parameter):
  for i in parameter:
    print(f"Dear {i},You are invited to the party at 7:30 am Thank You!"
                "Venue:ABC TOWERS"
          )

In [ ]:
invitefunc(friendlist)

Dear Kushagra,You are invited to the party at 7:30 am Thank You!Venue:ABC TOWERS
Dear Swati,You are invited to the party at 7:30 am Thank You!Venue:ABC TOWERS
Dear Ayush,You are invited to the party at 7:30 am Thank You!Venue:ABC TOWERS
Dear Ramesh,You are invited to the party at 7:30 am Thank You!Venue:ABC TOWERS
Dear Swapnil,You are invited to the party at 7:30 am Thank You!Venue:ABC TOWERS

# Topic 6 Lambda Function

In [ ]:
#syn funcname=lambda para1 para2 :operation

In [ ]:
sumfunc=lambda a,b:a+b

In [ ]:
sumfunc(51,42)

93