Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above

In [ ]:
def Calculator(n,r,p):
  A=p*(1+r/100)**n
  print(A)

In [ ]:
Calculator(10,5,100)
#Ans (b)162.89

162.8894626777442

In [ ]:

A=10
B=20
Str="There are {} students in a class ,with {} who play at least one sports"

print(Str.format(B,A))


#ans (d)None of the above

There are 20 students in a class ,with 10 who play at least one sports

In [ ]:
#Q3. In a given sample string, How do you print a double quoted string in between a
#regular
#string using the escape character?
#Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
#a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
#b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
#c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
#d. None of the above.

In [ ]:
print("It goes without saying, \"Time is Money\"  ,and none can deny it")

#Ans(a)

It goes without saying, "Time is Money"  ,and none can deny it

4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

In [ ]:
x=lambda a,b:a//b

In [ ]:
x(10,3)

3

In [ ]:
#ans (b)

. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

SyntaxError: invalid syntax (<ipython-input-20-a1a0496a5a01>, line 1)

Q5. What will be the output of the following code?

In [ ]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

#ans(c)

Greater

Q6. What will be the output of the following code?

In [ ]:
import os
import numpy as np
my_list1=[2,7,3,5,4,6]
print(my_list1)
arr_1=numpy.array(my_list1,dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [ ]:
#ans (c)NameError: name 'numpy' is not defined

Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)

In [ ]:
string="Machine Learning"
string[8:13]

'Learn'

In [ ]:
 string[slice(8,13,1)]   #ans (d)string[slice(8,13,1)]

'Learn'

 Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?

In [ ]:
a=[]
for i in range(10,26,4):
  a.append(i)

a

[10, 14, 18, 22]

In [ ]:
a.index(18) #ans b)2

2

Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

In [ ]:
num1=5**4
num2=pow(5,4)
print(num1,num2)        #ans a)num1=num2

625 625

Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

In [ ]:
#ans (a)Trying to access a variable which has not been defined

1.What type of exception will be raised for the code given below?
a. NameError
b. KeyError
c. ValueError
d. AttributeErro

In [ ]:
x="string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
#ans(c)Value Error

In [ ]:
#Q12.A FileNotFoundError exception is raised by operating system errors when: -
#a. Trying to create a file or directory which already exists
#b. A file or directory is requested but does not exist in the working directory
#c. Trying to run an operation without the adequate access rights
##d. A directory operation, os.listdir() is requested on something which is not a
#directory

In [ ]:
#ans(b)A file or directory is requested but does not exist in the working directory

3.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean

In [ ]:
Z="ID-5632"
type(Z)

str

In [ ]:
#ans b)Character

Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

In [ ]:
J="Welcome"
type(J)

str

In [ ]:
K="4"
type(K)

str

In [ ]:
L="?"
type(L)

str

In [ ]:
#ans (D) All of the above

Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

In [ ]:
v={3}
type(v)  # ans a) ()

set

16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:
Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [ ]:
Country={
  'India':'Delhi',
  'China': 'Beijing',
  'Japan':'Tokyo',
  'Qatar':'Doha',
  'France':'Marseilies'
}

In [ ]:
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Marseilies'}

In [ ]:
Country['France']='Paris'

In [ ]:
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [ ]:

varr=Country["France"].replace("Marseilles","Paris")
Country["France"]=varr

. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

In [ ]:
tuple_1=(1,5,6,7,8)
tuple_2=(8,9,4)

In [ ]:
sum(tuple_1)

27

In [ ]:
len(tuple_2)

3

In [ ]:
tuple_2+tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [ ]:
tuple_1[3]             #ans d) not equal to 45

7

Q18. How many elements in the following data structure?

In [ ]:
S={1,2,3,4,4,4,5,6}

In [ ]:
len(S)  #Ans 6

6

19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.

In [ ]:
def pythagoras_triplets():
  N=int(input("Enter the Natural NUmber:"))
  for a in range(1,N):
    for b in range(1,N):
      for c in range(1,N):
        if(c**2==a**2+b**2):
          print(f" the numbers which follow pythagoras theorem are {a},{b},{c}")

In [ ]:
pythagoras_triplets()

Enter the Natural NUmber:20
 the numbers which follow pythagoras theorem are 3,4,5
 the numbers which follow pythagoras theorem are 4,3,5
 the numbers which follow pythagoras theorem are 5,12,13
 the numbers which follow pythagoras theorem are 6,8,10
 the numbers which follow pythagoras theorem are 8,6,10
 the numbers which follow pythagoras theorem are 8,15,17
 the numbers which follow pythagoras theorem are 9,12,15
 the numbers which follow pythagoras theorem are 12,5,13
 the numbers which follow pythagoras theorem are 12,9,15
 the numbers which follow pythagoras theorem are 15,8,17